{% extends 'app/trangchu.html' %}
{% load static %}
{% block main-content %}
<div class="title">
    <h3>Thông tin người dùng</h3>
    </div>
  <div class="container body">
    
    <div class="col-lg">
      <div class="input-group">
      <span class="input-group-text">Họ tên</span>
      <span class="form-control">{{ten}}</span>
  </div>
  <div class="input-group">
      <span class="input-group-text">Email</span>
      <span class="form-control">{{email}}</span>
  </div>
  <div class="input-group">
      <span class="input-group-text">SDT</span>
      <span class="form-control">{{sdt}}</span>
  </div>

  <div class="input-group">
      <span class="input-group-text">Địa chỉ</span>
      <span class="form-control">{{diachi}}</span>
  </div>
  <div class="input-group">
      <span class="input-group-text">Tên quán</span>
      <span class="form-control">{{tenquan}}</span>
  </div>
      <div class="col-lg-3 ">
        <a href="{% url 'sua' %}" value="Chỉnh sửa thông tin" class="btn-success btn btn-block col-lg-10">Chỉnh sửa thông tin</a>
        
      </div>
    </div>
    
  
</div>
{% endblock main-content %}
