{% extends 'app/trangchu.html' %}
{% load static %}
{% block main-content %}
<div class="title">
    <h3>Chỉnh sửa nguyên liệu</h3>
</div>
<div class="container body">
    <form action="" class="col-md-6 p-3 mg-3 form" method="post" enctype="multipart/form-data">
     
        {% csrf_token %}

<div class="col-lg">
<div class="input-group">
    <span class="input-group-text">Tên món ăn</span>
    {{forms.tenmon}}
</div>

<div class="input-group">
    <span class="input-group-text">Giá tiền</span>
    {{forms.giatien}}
</div>
<select class="form-select input-group" id="loaimon-select" name="loaimon-select">
    {% for loaimon in loaimons %}
    <option value="{{loaimon.id}}">{{loaimon.tenloai}}</option>
    {% endfor %}  
  </select>



<div class="col-lg-3 ">
    <input type="submit" value="Hoàn tất" class="btn-success btn btn-block col-lg-10">
</div>
</form>
</div>
</div>
{% endblock main-content %}
