
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{%static 'app/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  
  <link href="{%static 'app/css/cuahang.css' %}" rel="stylesheet" type="text/css">
  <script src="{%static 'app/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="{%static 'app/css/trangchu.css' %}" rel="stylesheet" type="text/css">
  <script src="https://kit.fontawesome.com/6071e00c9f.js" crossorigin="anonymous"></script>
 
</head>
<body>



    <script src="{%static 'app/js/myjs.js' %}"></script>
</body>
</html>
